/* ===== Light Box Styles ========================================================
   Author: Andrew Vlasov
   ========================================================================== */
.light-box {
    @include transition-property(all);
    @include transition-duration(1s);
    @include transition-timing-function(ease-in);
    display: none;
    opacity: 0;
}

.show {
    opacity: 1;
}

.light-box-image {
    background: #111;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    z-index: 10;
    text-align: center;

    img {
        @include transition-property(opacity);
        @include transition-duration(0.3s);
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        /* Required to make elements nodraggable in old WebKit */
        -khtml-user-drag: none;
        -moz-user-drag: none;
        -webkit-user-drag: none;
        -ms-user-drag: none;
        -o-user-drag: none;
        user-drag: none;
        cursor:auto;
        opacity: 0;
        left: 0;
        top: 0;
        position: absolute;

        max-width: 100%;
        max-height: 100%;

        &.current {
            opacity: 1;
        }
    }
}

.light-box-footer {
    @include transition-property(all);
    @include transition-duration(0.5s);
    @include transition-timing-function(ease-in);
    position: fixed;
    background-color: #222;
    @include background-image(linear-gradient(top, rgba(#222, 1), rgba(#111, 1)));
    border-top: 1px solid #333;
    z-index: 20;
    left: 0px;
    right: 0px;
    bottom: 0px;
    padding: .7em 0 .9em 0;
    min-height: 30px;
    overflow: visible;
    text-align: center;
    opacity: .3;

    &:hover {
        opacity: 1;
    }
    &.hidden {
        opacity: 0;

        &:hover {
            opacity: 0;
        }
    }

    .btn-close {
        position: absolute;
        left: 2em;
    }
    .btn-share {
        position: absolute;
        right: 2em;
    }
    .btn-play {
        margin: 0 1em;
    }

    a {
        display: inline-block;
        line-height: 1;
        height: 2em;
        margin: 0 .5em;
        padding: .4em;

        &:hover {
            [class^="icon-"] { opacity: 1; }
        }
    }
}

.btn {
    @include border-radius(3px);
    background-color: #303030;
    @include background-image(linear-gradient(top, #303030, #222));
    @include box-shadow(0 1px 0 rgba(255, 255, 255, .1) inset, 0 1px 0px #222);
    color: #EEE;
    border: 1px solid #111;
    display: inline-block;
    line-height: 1;
    height: 2em;
    padding: .4em;
    text-shadow: 0 -1px #000;

    &:hover {
        background-color: #333;
        @include background-image(linear-gradient(top, #353535, #222));
    }

    &:active, &.active {
        @include background-image(linear-gradient(top, #333, #444));
        @include box-shadow(0 3px 8px rgba(0, 0, 0, .6) inset, 0 1px 0px #222);
        border-top-color: rgba(#000, 1);
    }
}

[class^="icon-"] {
    @include transition-property(opacity);
    @include transition-duration(0.3s);
    @include transition-timing-function(ease-in);
    display: inline-block;
    vertical-align: middle;
    opacity: .6;
    
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 1328px) {
    .wrapper {
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .logo {
        left: 1em;
    }

    .count {
        right: 1em;
    }

    .photo, .folder {
        @include box-shadow(0 0 2px 0px rgba(255, 255, 255, 0.1) inset);
        opacity: 1;
    }
    .photo.loaded {
        @include box-shadow(0 0 2px 0px rgba(255, 255, 255, 0.4) inset);
        opacity: 1;
    }

    .light-box-footer, .icon-play, .icon-pause { opacity: 1; }

    .light-box-footer {
        // .btn-share, .btn-prev, .btn-next { display: none; }
        .btn-close { left: 1em; }
        .btn-share { right: 1em; }
    }

    .share { right: .5em; }

    .light-box-footer { opacity: 0.3; }

}