.sass-cache
psd
sftp-config.json
.DS_Store
temp
*.sublime-*
js/gallery.js
js/gallery.min.js
style.css
style.min.css
index.html
index.min.html
img/icon-*
!/img/icon-retina
img/social-*
node_modules
.temp
dist